<html lang="en">
<%- include("../partials/header.ejs") %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/tableDetails.css">
</head>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="details-content">
    <h2><%= table.name %></h2>
    <div class="content">
      <p><%= table.phone %></p>
      <p><%= table.date %></p>
      <p><%= table.time %> </p>
      <p><%= table.peopleNumber %></p>
    </div>
    <a class="delete" data-doc="<%= table._id %>">delete</a>
    <a class="edit" href="/editTable/<%= table._id %>">Update</a>
  </div>

  <%- include("../partials/footer.ejs") %>
  <script>
    const trash = document.querySelector('a.delete')
    trash.addEventListener('click',(e)=>{
      const endpoint =`/table/${trash.dataset.doc}`
      fetch(endpoint,{
        method:'DELETE'
      })
      .then((response)=>response.json())
      .then((data)=>window.location.href = data.redirect)
      .catch((err)=>console.log(err));
    })
  </script>

</body>
</html>